body {
    background: skyblue;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.logo {
    color: black;
    font-size: 45px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 40px;
}

.form {
    margin-top: 100px;
    margin-left: 100px;
    height: 300px;
    width: 400px;
    background: rgb(243, 226, 198);
    border-radius: 10px;
}

.file {
    margin-left: 40px;
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(12, 12, 12);
    margin-top: 120px;
    color: black;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {
    width: 100px;
    height: 62px;
    background: black;
    border: 2px solid black;
    margin-top: 120px;
    color: white;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.4s ease;
}

.btn:hover {
    background: white;
    color: black;
    border-style: none;
}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
        width: 80%;
        padding: 0;
    }
    .right {
        width: 100%;
    }
}

@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu,
    .main,
    .right {
        width: 100%;
    }
}